{% extends "layout.html.twig" %}

{% block main %}
      <div class="grid">
          {% for entry in entries %}
            <div class="card" data-entry-id="{{ entry.id }}">
              <div class="card-scores d-flex">
                {% if entry.score %}
                <div class="card-score">
                    <span>{{ entry.score }}<span>
                </div>
                <div class="card-author">{{ entry.author }}</div>
                {% else %}
                <div class="card-author full">{{ entry.author }}</div>
                {% endif %}
              </div>
              <div class="card-content">
                {% if entry.title %}
                  <div class="card-title">{{ entry.title}}</div>
                {% endif %}
                {% if entry.text %}
                  <p class="card-text">{{ entry.text}}</p>
                {% endif %}
                <div>{{ entry.time }}</div>
                <div><a href="/item/{{ entry.id }}">Comments: {{ entry.comments }}</a></div>
                {% if entry.url %}
                  <div class="btn-container">
                    <a href="{{ entry.url }}" class="btn-add-note btn btn-default">Go to the Article</a>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}

      </div>
{% endblock %}